@import url('https://fonts.googleapis.com/css2?family=Mynerve&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mynerve", cursive;
  font-weight: bold;    
}

.nav-link {
  display: flex;
  background-color: rgba(255, 210, 128, 0.94);
  position: fixed;
  align-items: center;
  width: 100%;
  color: whitesmoke;
  text-decoration: none;
  justify-content: flex-end;
  height: 75px;
  gap: 125px;
  text-align: center;
  justify-content: center;
  font-size: 24px;
}

.nav-link a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
}

.nav-link a:hover {
  color: #ffffff;  
  background-color: rgb(240, 200, 110);
  border-radius: 10px;
  font-size: 25px;
}

.home1, .home2 {
  background-color: rgba(255, 210, 128, 0.94);
  height: 200px;
  text-align: center;
  align-content: space-around ;
  color: whitesmoke;
  font-size: 50px;

}

.home2{
  height: 50px;
  font-size: 25px;
}

.mammal1 {
  font-size: 40px;
  text-decoration: underline;
  text-decoration-style: dotted;
  margin-top: 30px;
}

.arctichare, .baboon, .Bottlenosedolphin {
  width: 50%;
  font-size: 20px;
}

.arcticharepic, .baboonpic, .Bottlenosedolphinpic {
  width: 25%;
}

.text {
  font-weight: bolder;
  font-size: 30px;
}



